/* Global Resets */

* {
    margin: 0;
    padding: 0;
}




/* Panels */

#panel-1 {
	background-color: #3FA6AA;
}

#panel-2 {
	background-color: #343B44;
}

#panel-3 {
	background-color: #343B44;
}

#panel-4 {
	background-color: #33454A;
}

#panel-5 {
	background-color: #DD4B3C;
}

#panel-6 {
	background-color: #5F5975;
}

#panel-7 {
	background-color: #C2B86C;
}

#panel-8 {
	background-color: #423435;
}

#panel-9 {
	background-color: #757259;
}







